<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CASINO INSIDE</title>

	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="d-flex flex-column min-vh-100 bg-gray-100">
	<header>
		<nav class="bg-red-400 p-4">
			<div class="container mx-auto flex justify-between items-center">
				<a class="text-white text-2xl font-bold" href="/">
					Casino Inside
				</a>
				<button class="text-white lg:hidden">
					<span class="material-icons">menu</span>
				</button>
			</div>
		</nav>
	</header>

	<main>
		{{{body}}}
	</main>

</body>

</html>